{{ define "main" }}
<article class="pa3 pa4-ns">
  <header>
    <h1 class="f1 lh-title">Topics of the Day ({{ .Site.Params.homepageDate }})</h1>
  </header>
  
  <!-- Main Featured Section -->
  <section class="flex flex-wrap justify-around nested-copy-line-height lh-copy">
    {{ $featuredPosts := where .Site.RegularPages "Section" "posts" | first 3 }}
    
    {{ range $featuredPosts }}
    <a href="{{ .RelPermalink }}" class="link black dim w-100 w-30-ns ma2 ba b--moon-gray pa3 tc relative">
      {{ partial "post-cover.html" . }}
      <h2>{{ .Title }}</h2>
      <p>{{ .Summary | truncate 80 }}</p>
      <time class="f6 absolute bottom-1 right-1 gray" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
    </a>
    {{ end }}
  </section>

  <!-- Previously Covered Section -->
  <section class="mt5">
    <h2 class="f2 lh-title mb4">Previously Covered</h2>
    <div class="flex flex-wrap justify-start nested-copy-line-height lh-copy">
      {{ $prevPosts := where .Site.RegularPages "Section" "posts" | after 3 | first 6 }}
      
      {{ range $prevPosts }}
      <a href="{{ .RelPermalink }}" class="link black dim w-100 w-20-ns ma2 ba b--moon-gray pa2 tc relative">
        {{ $.Scratch.Set "cardStyle" true }}
        {{ partial "post-cover.html" (dict "page" . "cardStyle" true) }}
        <h3 class="f4">{{ .Title }}</h3>
        <p class="f6">{{ .Summary | truncate 50 }}</p>
        <time class="f7 absolute bottom-1 right-1 gray" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      </a>
      {{ end }}
    </div>
  </section>
</article>
{{ end }}